*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.logo-sec{
    position: relative;
    top: 20px;
    left: 30%;
}
.logo-round{
    border-radius: 50%;
    border: 5px solid yellow;
}
.nav-sec{
    position: relative;
    left: 20%;
}
.nav-btn{
    width: 200px;
    background-color: #1a1a1a;
}
.nav-btn:hover{
    background-color: yellowgreen;
}
.btn-CV-bg{
    background-color: white;
}
.btn-CV-bg:hover{
    background-color: yellowgreen;
}
.send-btn{
    width: 100%;
    background-color: #1a1a1a;
}
.send-btn:hover{
    background-color: yellowgreen;
}
.home-right-sec{
    position: relative;
    top: 220px;
    left: 10%;
}
.Heading-text{
    text-align: center;
    font-size: 45px;
    border-bottom: 3px solid #fff4;
    padding-top: 20px
}


.bor-left{ border-left: 3px solid yellow; }

.h-50{ height: 50px; }
.h-100{ height: 100px; }
.h-150{ height: 150px; }
.h-200{ height: 200px; }
.h-250{ height: 250px; }
.h-275{ height: 275px; }
.h-300{ height: 300px; }
.h-350{ height: 350px; }
.h-375{ height: 375px; }
.h-400{ height: 400px; }
.h-450{ height: 450px; }
.h-500{ height: 500px; }
.h-550{ height: 550px; }
.h-600{ height: 600px; }
.h-650{ height: 650px; }
.h-700{ height: 700px; }
.h-750{ height: 750px; }

.bg-left{ background-color: #111; }
.text-yellow{ color: yellow; }

@media screen and (min-width: 768px) and (max-width: 991px){
    .logo-sec{
        position: relative;
        top: 20px;
        left: 15%;
    }
    .nav-sec{
        position: relative;
        left: 0%;
    }
    .logo-round{
        width:100%;
    }
    .hs-800{ height: 750px; }
    .hs-1000{ height: 750px; }
}
@media screen and (min-width: 577px) and (max-width: 767px){
    .logo-sec{
        position: relative;
        top: 20px;
        left: 28%;
    }
    .nav-sec{
        position: relative;
        left: 22%;
    }
    .logo-round{
        width:100%;
    }
    .home-right-sec{
        position: relative;
        top: 180px;
        left: 0%;
        padding-left: 5%;
        padding-right: 5%;
    }
    .hs-800{ height: 800px; }
    .hs-1000{ height: 1850px; }
    .mgt-sm-card{ margin-top: 7px; }
    .bor-left{ border-bottom: 3px solid yellow; border-left: 3px solid black; }
}
@media screen and (max-width: 576px){
    .logo-sec{
        position: relative;
        top: 20px;
        left: 40%;
    }
    .nav-sec{
        position: relative;
        left: 30%;
    }
    .logo-round{
        width:100%;
    }
    .home-right-sec{
        position: relative;
        top: 180px;
        left: 0%;
        padding-left: 5%;
        padding-right: 5%;
    }
    .hs-800{ height: 1000px; }
    .hs-1000{ height: 1800px; }
    .mgt-sm-card{ margin-top: 7px; }
    .bor-left{ border-bottom: 3px solid yellow; border-left: 3px solid black; }
}

  /* .bor{ border: 2px solid white; } */